.Input {
  border-radius: 50px;
  min-width: 150px;
  padding: 10px 1.5em;
  border: none;
  color: #555;
  outline: none;
  border: solid 2px black;
}

.Input--cancel {
  border: solid 1px red;
}

.Input--blue {
  background-color: #1e57d8;
  color: white;
  border: #1e57d8;
  font-weight: bold;
}
.Input--blue:hover {
  background-color: #3b6fe6;
  cursor: pointer;
}
